$swatchSize: 20px;
$dropperPadding: 5px;

.bsc-inputContainer {
    position: relative;
    border: thin solid hsla(0,0%,100%,.1);
    display: inline-table;
    cursor: pointer;
    border-radius: 4px;

    svg {
        position: absolute;
        top: $dropperPadding;
        right: $dropperPadding;
    }
}

.bsc-colorInput {
    outline: none;
    width: calc(var(--control-width) - 1px);
    height: var(--control-height);
    border: none;
    margin-top: 1px;
    border-radius: 4px;
    cursor: pointer;
    
    &::-webkit-color-swatch {
        border: none;
    }
}

.bsc-controls {
    --control-height: 47px;
    --control-width: 52px;
    padding-left: 1px;
    padding-top: 2px;
    display: flex;
}

.bsc-colorSwatch {
    cursor: pointer;
    border-radius: 4px;
    width: var(--swatch-size);
    height: var(--swatch-size);
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bsc-colorSwatches {
    --swatch-size: #{$swatchSize};
    align-content: flex-start;
    margin-left: 5px !important;
    max-width: 340px;
}

.bsc-defaultColor {
    cursor: pointer;
    width: calc(var(--control-width) + 2px);
    height: calc(var(--control-height) + 2px);
    border: thin solid hsla(0,0%,100%,.1);
    border-radius: 4px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}
