.bs-modal-close {
    margin-left: auto;
}

.bs-modal-content {
    color: #fff;
}

.bs-form-item, .bsm-reset-text {
    margin-bottom: 20px;
}

.bsm-reset-text {
    display: block;

    a:hover {
        text-decoration: underline;
    }
}

.bs-modal-preview {
    background: var(--background-secondary-alt);
    padding: 15px 10px;
    border-radius: 4px;

    .bs-modal-blankslate {
        background: var(--background-accent);
        width: 100px;
        height: 5px;
        border-radius: 8px;

        &.first {
            margin-bottom: 10px;
        }

        &.last {
            margin-top: 10px;
        }
    }
    
    .bs-sidebar-item {
        max-width: 192px;
    }
}

