.bs-modal-close {
    margin-left: auto;
}

.bs-modal-content {
    color: #fff;
}

.bs-form-item, .bsm-reset-text {
    margin-bottom: 20px;
}

.bsm-reset-text {
    display: block;

    a:hover {
        text-decoration: underline;
    }
}
